/* Set a variable w */
:root {
    --aside-width: 18vw;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px Helvetica, Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #333;
    color: white;
}

aside {
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    width: var(--aside-width);
    align-items: center;
    box-shadow: inset 70px 0 70px -20px rgba(0, 0, 0, .5);
    border-right: 1px solid #555;
}

aside h1 {
    cursor: pointer;
    background: #333;
    font-size: 14px;
    transform: translateX(1px);
    position: absolute;
    top: 0;
    left: var(--aside-width);
    transition: left 0.5s;
    width: 90px;
    height: 30px;
    padding: 10px;
}

aside.hidden {
    transition: width 0.5s;
    transition-delay: opacity 0.5s;
    opacity: 0;
}

aside h1 svg {
    transform: translateY(4px);
}

aside.hidden h1 {
    transition: left 0.5s;
}

aside.hidden h1 svg {
    transform: translate(-3px, 5px) rotate(90deg);
    transition: transform 0.5s;
}

aside #controls-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.control {
    border: 1px solid #555;
    padding: 8px;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

#folder_template {
    display: none;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#arbolist {
    padding: 10px;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
}

details>summary {
    list-style: none;
}

details[open] .opened {
    display: inline;
}

details[open] .closed {
    display: none;
}

details .opened {
    display: none;
}

details .closed {
    display: inline;
}

details svg {
    transform: translateY(3px);
}

iframe {
    width: calc(100vw - var(--aside-width));
    border: none;
}

li {
    list-style-type: none;
    margin: 2px 0 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

li:hover {
    background-color: #444;
}

li.selected {
    background-color: #555;
}