/* Set a variable w */
:root {
    --aside-width-extended: 18vw;
    --aside-width-collapsed: 0vw;
    --aside-width-current: var(--aside-width-extended);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px Helvetica, Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #333;
    color: white;
}

aside {
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    width: var(--aside-width-current);
    align-items: center;
    justify-content: flex-start;
    box-shadow: inset 70px 0 70px -20px rgba(0, 0, 0, .5);
    border-right: 1px solid #555;
}

aside #title {
    margin: 10px;
    flex-grow: 2;
}

aside.hidden {
    transition: width 0.5s;
}

aside.hidden #title {
    position: absolute;
    transition: left 0.5s;
    left: 0;
    top: 0;
    margin: 0;
    width: 15px;
    height: 30px;
    font-size: 0;
    background: #333;
}


#controls-box {
    padding: 2px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #555;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
    flex-grow: 1;
}

#link-box {
    width: calc(var(--aside-width-current) - 18px);
    margin-top: 10px;
    justify-content: center;
    padding: 2px 5px;
    border: 2px solid #555;
    border-radius: 20px;
    height: 20px;
}

#link-input {
    width: 80%;
    margin: 0 0 0 10px;
    background: transparent;
    border: none;
    height: 20px;
}

#folder_template {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    width: 100%;
}

#arbolist {
    margin: 15px;
    width: calc(var(--aside-width-current) - 18px);
    scrollbar-width: thin;
    overflow: auto;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid #555;
    border-top: 1px solid #555;
}

details>summary {
    list-style: none;
    cursor: s-resize;
}

details[open]>summary {
    cursor: n-resize;
}

details[open] .opened {
    display: initial;
}

details[open] .closed {
    display: none;
}

details .opened {
    display: none;
}

details .closed {
    display: initial;
}

details svg, #title svg {
    transform: translateY(3px);
}

footer {
    margin: auto 0 10px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    color: #BBB
}

iframe {
    width: calc(100vw - var(--aside-width-current));
    border: none;
    transition: width 0.5;
}

li {
    list-style-type: none;
    margin: 2px 0 0 8px;
    text-overflow: clip;
    white-space: nowrap;
    cursor: pointer;
}

li:hover {
    background-color: #444;
}

li.selected {
    background-color: #555;
}

@media screen and (max-width: 600px) {
    :root {
        --aside-width-extended: 50vw;
    }
}